<div class="contact-section">
  <h1>Contact us</h1>
  <div class="calling-section">
    <div class="calling-text">Call us at:</div>
    <div class="calling">
      <img src="assets/calling.png" alt="My Local Image" class="phone" />
      <div class="padding">9823815494</div>
    </div>
    <div class="calling">
      <img src="assets/calling.png" alt="My Local Image" class="phone" />
      <div class="padding">9372737073</div>
    </div>
  </div>
  <div class="calling-section">
    <div class="mail-text">Mail us at:</div>
    <div class="calling">
      <img src="assets/mail.jpeg" alt="My Local Image" class="phone" />
      <div class="padding">buntyroadwaysnagpur@gmail.com</div>
    </div>
  </div>
  <div class="calling-section">
    <div class="reach-text">Reach us at:</div>
    <div class="calling">
      <img src="assets/location.png" alt="My Local Image" class="phone" />
      <div class="adr padding">Shop no. 3, Baba Buddhaji Nagar, Gurudwara Road, teka Naka, Nagpur MH-440017</div>
    </div>
  </div>
 <!-- <img src="assets/unloading.jpg" alt="My Local Image" class="custom-container-image" />    -->
 </div>