<!-- <nav>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/about">About</a></li>
  </ul>
</nav> -->
<nav class="navbar">
  <a class="link " routerLink="/"><img class="custom-logo-size" src="assets/bunty_logo.jpg" alt="My Local Image" /> </a>
  <a class="link" routerLink="/unloading">Unloading</a>
  <!-- <button class="link" (click)="clickButton('/about-us')">About</button> -->
  <a class="link" routerLink="/about">About us</a>
  <a class="link" routerLink="/contact">Contact Us</a>

  
  <div><img src="assets/azharnumani.jpg" alt="My Local Image" class="profile-image"/> 
    <div class="profile">Owner:- Azhar Numani</div>  
  </div>
</nav>
<img src="assets/bunty_container5370.jpg" alt="My Local Image" class="custom-image-size"/> 


<router-outlet></router-outlet>
